# Project exclude paths
venv/
bert-base-uncased/
bert-master/
data/
multi_cased/
trained_model_without_augmentation/
all_data.txt
augmented_vocab.txt
BERT_ROMAN_URDU.ipynb
roman-urdu-vocab*
tf_examples_multi_cased.tfrecord