# Project exclude paths
venv/
data/
bert-master/
multi_cased/
data_parts/
pretraining_data/
pretraining_data_augmented_vocab/
bert-base-uncased/
bert_bilingual_roman_urdu/
all_data.txt
augmented_vocab.txt
BERT_ROMAN_URDU.ipynb
roman-urdu-vocab*
tf_examples_multi_cased.tfrecord